@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

/* 
****************************** EASTER EGG: => DIGITE 9999 NO PRIMEIRO CONSOLE **********************************************
*/

.body{
    background-color: #a7e9af;
}

.cabecalho{
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.cabecalho h1{
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #75B79E;
}
.stage-game{
    margin: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}


.card{
    width: 117px;
    height: 146px;
    margin: 30px;
    border-radius: 5px;
    position: relative;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #99ceA8;
    border-radius: 5px;
}

.front{
    background-color: #99CEA8;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);  

}

.back{
    background-color: #99CEA8;
    background-image: url('../imagens/front.png');
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.mostra-carta{
    -webkit-transform: rotateY(180DEG);
            transform: rotateY(180DEG);
}


.game-timer{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: #515352;
    padding: 7px 10px;
    border-radius: 50px;
}

.audio-controls{
    display: none;
}

/* EXTRAS ******************************************************************************************************************* */
@-webkit-keyframes animacao-titulo {
    from{
        color: rgb(53, 6, 239);
        text-shadow: -5px -1px 0px #FFF, -5px 1px 0px #FFF, 1px -1px 0px #FFF, 1px 0px 0px #FFF;
    }
    to{
        color: rgb(6, 239, 99);
        text-shadow: -5px -1px 0px #000, -5px 1px 0px #000, 1px -1px 0px #000, 1px 0px 0px #000;
    }  
}
@keyframes animacao-titulo {
    from{
        color: rgb(53, 6, 239);
        text-shadow: -5px -1px 0px #FFF, -5px 1px 0px #FFF, 1px -1px 0px #FFF, 1px 0px 0px #FFF;
    }
    to{
        color: rgb(6, 239, 99);
        text-shadow: -5px -1px 0px #000, -5px 1px 0px #000, 1px -1px 0px #000, 1px 0px 0px #000;
    }  
}

.body-estilized{
    background: #22c1c3;
    background-image: -o-radial-gradient(circle, #ddebe6, #c4e3db, #aadcd2, #8dd4cc, #6bccc7, #5bc4be, #48bbb6, #33b3ad, #3ba89d, #419d8f, #459381, #478874);
    background-image: radial-gradient(circle, #ddebe6, #c4e3db, #aadcd2, #8dd4cc, #6bccc7, #5bc4be, #48bbb6, #33b3ad, #3ba89d, #419d8f, #459381, #478874);
}

.cabecalho-estilized{
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.cabecalho-estilized h1{
    font-family: 'Rubik Iso', cursive;
    font-size: 56px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: rgb(53, 6, 239);
    text-shadow: -5px -1px 0px #FFF, -5px 1px 0px #FFF, 1px -1px 0px #FFF, 1px 0px 0px #FFF;
    -webkit-animation: animacao-titulo 5s 3s infinite alternate;
            animation: animacao-titulo 5s 3s infinite alternate;   
}

.main-estilized{
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.card-estilized{
    width: 94px;
    height: 117px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    border: 1px solid #cecece;
}

.face-estilized{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #fff;
    border-radius: 5px;
}

.front-estilized{
    background-color: #99CEA8;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);  
    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,0.4);  
            box-shadow: 2px 3px 5px rgba(0,0,0,0.4)
}

.back-estilized{
    background-color: #99CEA8;
    background-image: url('../imagens/front.png');
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.audio-controls-estilized{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.btn-audio{
    color: #515352;
    font-size: 30px;
    margin: 1px 8px;
}

.btn-audio:hover{
color: #717372;
}
.btn-audio:active{
color: #050505;
font-size: 29px;
}